/* --- Global Measures --- */
/* --- Colours Guide --- */
/* Text and Titles */
/* Highlights */
/* btn-orange */
/* btn-blue & links */
/* btn-blue shadows */
/* --- Headings Styles --- */
/* --- Triangle Shape --- */
body {
  font-family: 'Roboto', sans-serif !important; }

@media (min-width: 1200px) {
  .container {
    width: 960px; } }
#my-icon:focus {
  outline: 0; }

nav:not(.breadcrumb):first-of-type {
  display: none; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #0061A1 !important; }

<<<<<<< HEAD
.navbar-nav > li > .dropdown-menu {
  margin-top: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.navbar-default .navbar-nav > li > a {
  width: 200px;
  font-weight: bold; }

.mega-dropdown {
  position: static !important;
  width: 100%; }

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none; }

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0; }

.mega-dropdown-menu > li > ul > li {
  list-style: none; }

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal; }

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5; }

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold; }

.mega-dropdown-menu form {
  margin: 3px 20px; }

.mega-dropdown-menu .form-group {
  margin-bottom: 3px; }

.show > .dropdown-menu {
  display: flex;
  width: 100%; }

.navbar-default {
  max-width: 960px;
  margin: 0 auto; }

/*@media (min-width: 800px) {
  nav {
    display: block !important;
  }
}*/
=======
>>>>>>> parent of 4b9fbe8... add megamenu for desktop
/*--- Utilities Classes ---*/
.bt {
  border-top: 1px solid rgba(0, 0, 0, 0.125); }

.bb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.breadcrumb {
  background-color: #00CACE; }
  .breadcrumb .breadcrumb-item {
    color: #4A4A4A; }

.quote {
  background: url("../assets/imgs/pull-quotes.png") top left no-repeat;
  color: #00A4A6;
  line-height: 1.2em;
  font-weight: 300;
  font-size: 28px; }

.banner-container {
  background-color: #00CACE; }
  .banner-container h1 {
    color: #ffffff; }
  .banner-container .shape-container {
    overflow: hidden;
    background: url("../assets/imgs/bkg-img.jpg") no-repeat center center;
    background-size: cover;
    height: 350px; }
    .banner-container .shape-container:before {
      content: "";
      display: block;
      border-style: solid;
      border-width: 30px 960px 0 0;
      border-color: #00CACE transparent transparent; }

.related-products h4 {
  color: #00A4A6; }

.talk-discussion {
  background-color: #4A4A4A; }
  .talk-discussion h2 {
    color: #ffffff; }
  .talk-discussion .text-reviews-primary {
    color: #0061A1; }

.social-share li {
  border: 1px solid #3c3c3c;
  height: 30px;
  width: 30px; }
  .social-share li:not(:last-of-type) {
    margin-right: 5px; }
.social-share.review li {
  border: 1px solid #00A4A6; }
  .social-share.review li i {
    color: #00A4A6; }
.social-share.on-blue-bkg span {
  color: #ffffff; }
.social-share.on-blue-bkg li {
  border: 1px solid #ffffff; }
  .social-share.on-blue-bkg li i {
    color: #ffffff; }

.mini-article h4 {
  color: #0061A1; }

footer {
  background-color: #0061A1; }
  footer .footer__menu li {
    display: inline-block; }
    footer .footer__menu li a {
      color: #ffffff; }
  footer .social-share {
    border-bottom: 1px solid #ffffff; }

/*# sourceMappingURL=app.css.map */
