@mixin headings {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }
}

/* --- Triangle Shape --- */

@mixin shape($shape-color, $shape-h, $shape-w) {
  $shape-h-mob: $shape-h * 2;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: $shape-h $shape-w 0 0;
    border-color: $shape-color transparent transparent;

    @include media($tablet-min) {
      border-width: $shape-h-mob $shape-w 0 0;
    }
  }
}
