/* --- Global Measures --- */
  $global-width: 630px;

/* --- Colours Guide --- */

  /* Text and Titles */
    $mn-grey-light: #F0F0F0;
    $mn-grey-mid: #C0C0C0;
    $mn-grey-dark: #4A4A4A;

  /* Highlights */
    $mn-turquoise: #00CACE;
    $mn-turquoise-dark: #00A4A6;

  /* btn-orange */
    $mn-orange: #FC8F06;
    $mn-orange-act: #B86804;

  /* btn-blue & links */
    $mn-blue: #0061A1;
    $mn-blue-hov: #00548C;
    $mn-blue-act: #004A7A;

  /* btn-blue shadows */
    $mn-blue-shadow: #004E82;
    $mn-blue-hov-shadow: #00497A;
    $mn-blues-act-shadow: #004A7C;
