.banner-container {
  background-color: $mn-turquoise;

  h1 {
    color: #ffffff;
  }

  .shape-container {
    @include shape($mn-turquoise, 30px, 960px);
    background: url("../assets/imgs/bkg-img.jpg") no-repeat center center;
    background-size: cover;
    height: 350px;
  }
}
