footer {
  background-color: #0061a1;
  padding: 20px 20px 70px;

  .footer__menu {
    margin: 30px 0;

    li {
      display: inline-block;

      a {
        color: #ffffff;
      }
    }
  }

  .social-share {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 30px;
    color: #ffffff;
    width: 100%;

    .social-share__elems li {
      border: 1px solid #ffffff;
    }
  }
}
